<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <script src="index.js" type="module"></script>
</head>

<body>
    <form class="settings-container" data-settings-form>
        <button style="grid-area: select-subtitles-btn" type="button" class="settings-container__item__subitem settings-container__item__subitem--btn
            " data-select-subtitle-btn>Select subtitles</button>
        <label style="grid-area: sync-label;" for="sync"
            class="settings-container__item__subitem">Synchronization</label>
        <div style="grid-area: sync-range-container;"
            class="settings-container__item__subitem settings-container__item__range-container">
            <input min="-10" value="0" max="10" type="range" data-sync-range>
            <input min="-3600" step="1.0" max="3600" class="settings-container__item__range-container__number-input"
                type="number" id="sync" data-sync-number>
        </div>
        <label style="grid-area: enable-subtitles-label " for="enable-checkbox"
            class="settings-container__item__subitem">Enable
            subtitle</label>
        <input style="grid-area: enable-subtitles-checkbox" type="checkbox" name="" id="enable-checkbox"
            class="settings-container__item__input" disabled data-enable-subtitles>
        <label style="grid-area: bg-label" for="bg-color" class="settings-container__item__subitem">Background
            color</label>
        <input style="grid-area: bg-input" type="color" name="" id="bg-color" class="settings-container__item__input"
            data-bg-color>
        <label style="grid-area: text-label" for="text-color" class="settings-container__item__subitem">Text
            color</label>
        <input style="grid-area: text-input" type="color" name="" id="text-color"
            class="settings-container__item__input" value="#FFFFFF" data-text-color>

    </form>
</body>

</html>