<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <script src="index.js" type="module"></script>
</head>

<body>
    <button class="close-btn" data-close-btn>&times;</button>
    <section class="top">
        <form action="#" class="main-form">
            <select class="lang-selector" data-lang-selector>
                <option value="" selected>All languages</option>
                <option value="en">English</option>
                <option value="fr">French</option>
                <option value="de">Deutsch</option>
            </select>
            <div class="autocomplete-container">
                <input placeholder="Search..." type="text" class="autocomplete-container__input" data-search-input>
            </div>
        </form>
    </section>
    <section class="middle" data-middle>
        <ul class="autocomplete-options" data-autocomplete-options>
        </ul>
        <p class="search-info-message" data-search-info-message></p>
    </section>
</body>

</html>