<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popup</title>
    <link rel="stylesheet" href="../css/index.css">
    <script src="../js/index.js" defer></script>
</head>

<body>
    <h1 class="app-title">SubEase</h1>
    <dialog class="about-us-modal" data-about-us-dialog>
        <div class="about-us-modal__container">
            <h1 class="about-us-modal__container__title">About us</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ea, fugiat aspernatur recusandae impedit
                eligendi inventore, delectus atque vero non provident ratione, accusantium laborum cumque ab nobis
                mollitia esse aliquid.</p>
        </div>
    </dialog>
    <nav class="navbar">
        <div class="navbar__container">
            <ul class="navbar__container__list">
                <li class="navbar__container__list__item" data-about-us-btn>About us</li>
            </ul>
        </div>
    </nav>
    <ul class="videos-list" data-videos-list>

    </ul>
</body>

</html>